.tabs .tab-item .icon.inicio {
    background-image: "assets/icon/home.svg";

  }
  .tabs .tab-item .icon.medico {  
    background-image: "assets/icon/medico.svg";  
  }
  .tabs .tab-item .icon.mais { 
    background-image: "assets/icon/mais.svg";   
  }
  .tabs .tab-item .icon.tutorial {
    background-image: "assets/icon/tutorial.svg";

  }
  .tabs .tab-item .icon.sair {
    background-image: "assets/icon/sair.svg";

  }
